// Start Custom Style from Prime Ng

// Toolbar
::ng-deep .p-toolbar {
    @apply bg-background;
    border: none;
}

// Input
::ng-deep .p-inputtext {
    @apply bg-background text-foreground;


    // placeholder
    &::placeholder {
        @apply text-foreground;
    }
}

// Table
::ng-deep .p-datatable {
    @apply bg-background;

    .p-datatable-loading-overlay {
        display: none;
    }

    .p-datatable-header {
        @apply bg-background;
        border: none;
    }

    .p-datatable-thead {
        @apply bg-background;

        th {
            @apply bg-background;
        }

        .p-sortable-column {
            @apply bg-background;

            .p-sortable-column-icon {
                @apply text-foreground;
                height: 1rem;
                font-size: 1.5rem !important;
            }
        }
    }

    .p-datatable-tbody {
        @apply bg-background;

        tr {
            @apply bg-background;
        }
    }

    // .p-datatable-footer {
    //     @apply bg-background;
    //     border: none;
    // }
}

// Paginator
::ng-deep .p-paginator {
    @apply text-sm font-semibold text-foreground bg-background;

    padding-top: 1rem;
    padding-bottom: 1rem;

    .p-paginator-page {
        @apply text-sm font-semibold text-foreground;
    }

    .p-paginator-current {
        @apply text-sm font-semibold text-foreground;
    }

    .p-paginator-page.p-highlight {
        @apply bg-primary text-white;
        padding: 0rem;
    }

    .p-paginator-page:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-primary text-white;
    }

    .p-paginator-rpp-options {
        @apply bg-background;
        height: 3rem;

    }
}

// Dialog
::ng-deep .p-dialog {
    @apply bg-background text-foreground;
    border: white 1px solid;

    .p-dialog-header {
        @apply bg-background;

        .p-dialog-title {
            @apply text-foreground;
        }
    }

    .p-dialog-content {
        @apply bg-background;
    }
}

// Skeleton
::ng-deep .p-skeleton {
    background-color: rgb(202, 202, 202);
}

// Confirm
::ng-deep .p-confirm-popup {
    @apply bg-background text-foreground;

    .p-confirm-popup-message {
        @apply text-foreground;
    }
}

// Toast
::ng-deep .p-toast {

    .p-toast-message {
        @apply bg-background;

        .p-toast-message-content {
           border: 0;
        }
    }

}

// End Custom Style from Prime Ng