@if (isLoading) {
  <app-loading/>

}
@if (!getData && !isLoading) {
  <div class="flex min-h-full items-center justify-center border">
    <p class="text-xl font-bold text-primary">Sorry, No Data Found</p>
  </div>
}
@if (getData) {
  <div class="mx-auto p-4 lg:container sm:px-8">
    <app-title-header [title]="title" [subtitle]="subtitle"></app-title-header>
    <div class="grid grid-cols-1 gap-4 pb-4">
      <div class="flex justify-between items-center text-muted-foreground">
        <div class="flex gap-4">
          <h6>Date: {{ date | date }}</h6>
          <app-total-pay [totalPay]="totalPay"></app-total-pay>
        </div>
        <app-update-button [timesheetId]="timesheetId"/>
      </div>
    </div>

    <div class="pb-4">
      <app-edit #editformComponent [workOptions$]="workOptions$"/>
    </div>

    <div>
      <app-edit-list
        [overtimeForm]="overtimeForm"
        [edit]="edit.bind(this)"
        [workOptions$]="workOptions$"
      />
    </div>
  </div>
}

<p-toast/>
