<div class="mx-auto px-4 py-4 lg:container sm:px-8">
  <app-title-header [title]="title" [subtitle]="subtitle"></app-title-header>

  <div class="flex flex-col items-start justify-center dark:text-white">
    <div
      class="flex w-full flex-col justify-between gap-y-4 md:flex-row md:gap-y-0"
    >
      <!-- pie chart -->
      <div
        class="flex flex-col items-center justify-start rounded-lg border bg-background p-4 shadow-xl"
      >
        <p class="text-xl lg:text-2xl">{{ month }} Report</p>
        <div class="flex flex-col gap-y-4 md:flex-row md:gap-y-0">
          <div class="card justify-content-center flex">
            <p-chart type="pie" [data]="pieData" [options]="pieOptions" />
          </div>
          <div
            class="card me-6 flex flex-col items-start justify-center gap-y-4"
          >
            <!-- <p-chart type="pie" [data]="pieData" [options]="pieOptions" /> -->
            <p class="rounded-lg border p-2 text-base shadow">
              {{ paymentTitle }} <br />
              <span class="rounded-md p-1 text-primary">{{
                total | rupiahFormat
              }}</span>
            </p>
            <!-- <p class="rounded-lg border p-2 text-base shadow">Jumlah Trainer <span class=" text-primary p-1 rounded-md">{{ total }}</span></p> -->
            <p class="rounded-lg border p-2 text-base shadow">
              Overtime Submissions
              <span class="rounded-md p-1 text-primary">{{ submission }}</span>
            </p>
            <p class="rounded-lg border p-2 text-base shadow">
              Submission Items<span class="rounded-md p-1 text-primary">{{
                submissionItems
              }}</span>
            </p>
          </div>
        </div>
      </div>

      <div
        class="flex w-full flex-col justify-start gap-y-2 rounded-lg border bg-background p-4 shadow-xl md:w-1/2"
      >
        <p class="text-center text-xl lg:text-2xl">Recently Submission</p>
        <!-- Timesheet Table -->
        <app-summary-table
          [isLoading]="isLoading"
          [timesheets]="recentTimesheets"
        ></app-summary-table>
        <p
          [routerLink]="['/approvals/on-progress']"
          class="cursor-pointer text-end text-base text-primary underline"
        >
          Lihat lebih lanjut
        </p>
      </div>
    </div>

    <ng-container *ngIf="lineData">
      <!-- line chart -->
      <div
        class="card my-10 w-full rounded-lg border bg-background p-4 shadow-xl"
      >
        <p-chart type="line" [data]="lineData" [options]="lineOptions" />
      </div>
    </ng-container>
  </div>
</div>
