<div class="mx-auto px-4 py-4 lg:container sm:px-8">
  <app-nft-header [title]="title" [subtitle]="subtitle"></app-nft-header>

  <div class="flex flex-col items-start justify-center dark:text-white">
    <div class="flex w-full flex-col md:flex-row gap-y-4 md:gap-y-0  justify-between">
      <!-- pie chart -->
      <div
        class="flex flex-col items-center justify-start rounded-lg border bg-background p-4 shadow-xl"
      >
        <p class="text-xl lg:text-2xl">Report Bulan ini</p>
        <div class="flex flex-col md:flex-row gap-y-4 md:gap-y-0">
          <div class="card justify-content-center flex">
            <p-chart type="pie" [data]="pieData" [options]="pieOptions" />
          </div>
          <div class="card me-6 flex flex-col gap-y-4 items-start justify-center">
            <!-- <p-chart type="pie" [data]="pieData" [options]="pieOptions" /> -->
            <p class="rounded-lg border p-2 text-base shadow">
              Total Bonus <span class=" text-primary p-1 rounded-md">{{ total }}</span>
            </p>
            <p class="rounded-lg border p-2 text-base shadow">Jumlah Trainer <span class=" text-primary p-1 rounded-md">{{ total }}</span></p>
            <p class="rounded-lg border p-2 text-base shadow">
              Seluruh Pengajuan <span class=" text-primary p-1 rounded-md">{{ total }}</span>
            </p>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col w-full md:w-1/2 justify-start rounded-lg border bg-background p-4 shadow-xl gap-y-2"
      >
      <p class="text-xl lg:text-2xl text-center">Pengajuan Terkini</p>
        <!-- Timesheet Table -->
        <app-summary-table
          [isLoading]="isLoading"
          [timesheets]="timesheets"
          [route]="route"
          [role]="role"
        ></app-summary-table>
      <p [routerLink]="['/approvals/on-progress']" class="cursor-pointer text-base underline text-primary text-end">Lihat lebih lanjut</p>
        
      </div>
    </div>

    <!-- line chart -->
    <div class="card my-10 w-full rounded-lg border bg-background p-4 shadow-xl">
      <p-chart type="line" [data]="lineData" [options]="lineOptions" />
    </div>
  </div>
</div>
