<div class="card">
  <!-- Table Detail -->
  <p-table
    #dt
    [value]="selectedTimesheet.timeSheetDetails"
    [scrollable]="false"
    [rowHover]="true"
    dataKey="id"
  >
    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th
          pSortableColumn="no"
          class="text-xs font-semibold text-muted-foreground"
        >
          No
        </th>
        <th
          pSortableColumn="user.name"
          class="text-xs font-semibold text-muted-foreground"
        >
          Name <p-sortIcon field="user.name" />
        </th>
        <th
          pSortableColumn="date"
          class="text-xs font-semibold text-muted-foreground"
        >
          Date <p-sortIcon field="date" />
        </th>
        <th
          pSortableColumn="startTime"
          class="text-xs font-semibold text-muted-foreground"
        >
          Time <p-sortIcon field="startTime" />
        </th>
        <th
          pSortableColumn="description"
          class="text-xs font-semibold text-muted-foreground"
        >
          Job Desc <p-sortIcon field="description" />
        </th>
        <th
          pSortableColumn="subTotal"
          class="text-xs font-semibold text-muted-foreground"
        >
          Sub Total <p-sortIcon field="subTotal" />
        </th>
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-timesheetDetail let-i="rowIndex">
      <tr>
        <td>
          <span class="text-sm font-semibold text-muted-foreground"
            >{{ i + 1 }}
          </span>
        </td>
        <td>
          <div class="flex flex-col justify-items-start">
            <span class="mb-1 text-sm font-semibold text-foreground">{{
              selectedTimesheet.user.name
            }}</span>
          </div>
        </td>
        <td>
          <span class="text-sm font-semibold text-muted-foreground"
            >{{ timesheetDetail.startTime | date : "dd MMMM yyyy" }}
          </span>
        </td>
        <td>
          <span class="text-sm font-semibold text-muted-foreground"
            >{{ timesheetDetail.startTime | date : "HH:mm" }} -
            {{ timesheetDetail.endTime | date : "HH:mm" }}
            <span>
              {{ calculateTimeDifference(i) }}
            </span>
          </span>
        </td>
        <td>
          <div class="flex flex-col justify-items-start">
            <span class="text-sm font-semibold text-muted-foreground">{{
              timesheetDetail.description
            }}</span>
          </div>
        </td>
        <td>
          <span class="text-sm font-semibold text-muted-foreground">
            {{ timesheetDetail.subTotal | currency : "Rp." : "symbol" }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
