<p-toast />
<form class="my-6 rounded-lg bg-background p-4" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-wrap gap-x-4 gap-y-4 text-left">
    <div class="form__group">
      <div class="relative">
        <input type="text" id="email" [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
          class="peer block border-foreground text-base" formControlName="email" />
        <label for="email"
          class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-95 transform rounded-2xl bg-background px-2 text-sm text-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-foreground">
          Email address
        </label>
        <app-validation-message *ngIf="isFormValid('email')" [control]="form.get('email')"
          label="email"></app-validation-message>
      </div>
    </div>
    <div class="form__group">
      <div class="relative">
        <input type="text" id="name" [ngClass]="{ 'is__invalid-input': submitted && f['name'].errors }"
          class="peer block border-foreground text-base" formControlName="name" />
        <label for="name"
          class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-95 transform rounded-2xl bg-background px-2 text-sm text-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-foreground">
          Name
        </label>
        <app-validation-message *ngIf="isFormValid('name')" [control]="form.get('name')"
          label="name"></app-validation-message>
      </div>
    </div>
    <div class="form__group">
      <div class="relative">
        <p-dropdown class="p-dropdown-items-wrapper" [options]="roles" formControlName="role" optionLabel="roleName"
          placeholder="Select a role"></p-dropdown>
        <label for="role"
          class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-95 transform rounded-2xl bg-background px-2 text-sm text-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-foreground">
          Role
        </label>
        <app-validation-message *ngIf="isFormValid('role')" [control]="form.get('role')"
          label="role"></app-validation-message>
      </div>
    </div>

    <div class="form__group">
      <p-button icon="pi pi-save" type="submit" [loading]="isLoadingSave" [label]="isLoadingSave ? 'Saving' : 'Save'"
        [disabled]="form.invalid || isLoadingSave">
      </p-button>
    </div>
  </div>
</form>