<!-- Toast Notification -->
<p-toast />

<form
  class="my-6 flex flex-col items-center rounded-lg bg-background p-6 md:flex-row md:space-x-4"
  [formGroup]="postWorkForm"
  (ngSubmit)="saveWork()"
>
  <div class="relative mb-4 flex-1 md:mb-0">
    <input
      type="text"
      id="description"
      formControlName="description"
      placeholder=" "
      class="peer block w-full rounded-lg p-3 text-base border-foreground"
    />
    <label
      for="description"
      class="absolute left-3 top-3 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-3 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-foreground"
    >
      Description
    </label>
    <div
      *ngIf="
        postWorkForm.get('description')?.invalid &&
        postWorkForm.get('description')?.touched
      "
      class="absolute mt-1 text-xs text-red-600"
    >
      Description is required.
    </div>
  </div>

  <div class="relative mb-4 flex-1 md:mb-0">
    <input
      type="number"
      id="fee"
      formControlName="fee"
      placeholder=" "
      class="peer block w-full rounded-lg p-3 text-base border-foreground"
    />
    <label
      for="fee"
      class="absolute left-3 top-3 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-3 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-foreground"
    >
      Fee
    </label>
    <div
      *ngIf="
        postWorkForm.get('fee')?.invalid && postWorkForm.get('fee')?.touched
      "
      class="absolute mt-1 text-xs text-red-600"
    >
      Fee is required.
    </div>
  </div>

  <div class="flex items-center space-x-2">
    <p-button
      (click)="cancel()"
      label="Cancel"
      size="small"
    >
    </p-button>
    <p-button
      type="submit"
      [disabled]="postWorkForm.invalid || isLoadingSave"
      size="small"
      [loading]="isLoadingSave"
      [label]="isLoadingSave ? 'Saving' : 'Save'"
    >
    </p-button>
  </div>
</form>
