<div class="card">
  <!-- Export Button -->
  <p-toolbar styleClass="mb-4 gap-2 p-4">
    <ng-template pTemplate="left">
      <span class="text-lg text-muted-foreground">
        {{ role }} & {{ route }}
      </span>
    </ng-template>

    <ng-template pTemplate="right">
      <span class="text-lg text-muted-foreground">
        selected timesheet: {{ selectedTimesheet.id }} -
        {{ selectedTimesheet.user }}
      </span>
      <!-- <button
        class="hover:bg-primary-600 flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground"
      >
        <i class="pi pi-upload mr-1" style="font-size: 0.8rem"></i>
        Export to PDF
      </button> -->
    </ng-template>
  </p-toolbar>

  <!-- Table -->
  <p-table
    #dt
    [value]="timesheets"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['name']"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 100]"
    [loading]="isLoading"
  >
    <!-- Search Input  -->
    <ng-template pTemplate="caption">
      <div class="align-center flex justify-end">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Search by User"
            style="height: 2.5rem; width: 15rem"
          />
        </span>
      </div>
    </ng-template>

    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th
          pSortableColumn="no"
          class="text-xs font-semibold text-muted-foreground"
        >
          No
        </th>
        <th
          pSortableColumn="date"
          class="text-xs font-semibold text-muted-foreground"
          style="min-width: 8rem;"
        >
          Date <p-sortIcon field="date" />
        </th>
        <th
          pSortableColumn="name"
          class="text-xs font-semibold text-muted-foreground"
          style="min-width: 8rem;"
        >
          Name <p-sortIcon field="name" />
        </th>
        <th
          pSortableColumn="manager"
          class="text-xs font-semibold text-muted-foreground"
          style="min-width: 8rem;"
        >
          Manager <p-sortIcon field="manager" />
        </th>
        <th
          pSortableColumn="benefit"
          class="text-xs font-semibold text-muted-foreground"
          style="min-width: 8rem;"
        >
          Benefit <p-sortIcon field="benefit" />
        </th>
        <th
          pSortableColumn="total"
          class="text-xs font-semibold text-muted-foreground"
          style="min-width: 8rem;"
        >
          Amount <p-sortIcon field="total" />
        </th>
        <th
          pSortableColumn="status"
          class="text-xs font-semibold text-muted-foreground"
          style="min-width: 8rem;"
        >
          Status <p-sortIcon field="status" />
        </th>
        <th class="text-center text-xs font-semibold text-muted-foreground">
          Details
        </th>
        <!-- Column Action -> Authority : -->
        <th
          *ngIf="
            (route === 'on-progress' && role === 'manager') ||
            (route === 'on-progress' && role === 'benefit') ||
            (route === 'history' && role === 'benefit') ||
            (route === 'history' && role === 'admin')
          "
          class="text-center text-xs font-semibold text-muted-foreground"
        >
          Action
        </th>
      </tr>
    </ng-template>

    <!-- Table Loader -->
    <ng-template pTemplate="loadingbody">
      <tr>
        <td colspan="12">
          <p-skeleton width="100%" height="40vh"></p-skeleton>
        </td>
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-timesheet let-i="rowIndex">
      <tr>
        <td>
          <span class="text-sm font-semibold text-muted-foreground"
            >{{ i + 1 }}
          </span>
        </td>
        <td>
          <span class="text-sm font-semibold text-muted-foreground"
            >{{ timesheet.createdAt | date : "dd/MMM/yyyy" }}
          </span>
        </td>
        <td>
          <div class="flex flex-col justify-items-start">
            <span class="mb-1 text-sm font-semibold text-foreground">{{
              timesheet.user.name
            }}</span>
            <span class="text-xs font-semibold text-muted-foreground/50">{{
              timesheet.user.email
            }}</span>
          </div>
        </td>
        <td>
          <div *ngIf="timesheet.confirmedManagerBy.userId === ''">
            <span class="text-xs font-semibold text-muted-foreground/50">
              Waiting Approval by Manager IT
            </span>
          </div>
          <div *ngIf="timesheet.confirmedManagerBy.userId !== ''">
            <span class="texteground mb-1 text-sm font-semibold">{{
              timesheet.confirmedManagerBy.name
            }}</span>
            <span class="text-xs font-semibold text-muted-foreground/50">{{
              timesheet.confirmedManagerBy.email
            }}</span>
          </div>
        </td>
        <td>
          <div class="flex flex-col justify-items-start">
            <div *ngIf="timesheet.confirmedManagerBy.userId === ''">
              <span class="text-xs font-semibold text-muted-foreground/50">
                Waiting Approval by Benefit Team
              </span>
            </div>
            <div *ngIf="timesheet.confirmedManagerBy.userId !== ''">
              <span class="mb-1 text-sm font-semibold text-foreground">{{
                timesheet.confirmedBenefitBy.name
              }}</span>
              <span class="text-xs font-semibold text-muted-foreground/50">{{
                timesheet.confirmedBenefitBy.email
              }}</span>
            </div>
          </div>
        </td>
        <td>
          <span class="text-sm font-semibold text-muted-foreground">
            {{ timesheet.total | currency : "Rp." : "symbol" }}
          </span>
        </td>
        <td>
          <div *ngIf="timesheet.confirmedBenefitBy.name === ''">
            <span class="text-sm font-semibold text-muted-foreground">
              {{ timesheet.statusByManager }}
            </span>
          </div>
          <div *ngIf="timesheet.confirmedBenefitBy.name !== ''">
            <span class="text-sm font-semibold text-muted-foreground">
              {{ timesheet.statusByBenefit }}
            </span>
          </div>
        </td>
        <td>
          <div class="flex justify-center">
            <button
              (click)="showDialogDetail(timesheet)"
              class="flex h-7 w-7 items-center justify-center rounded-md bg-card text-muted-foreground hover:bg-muted hover:text-foreground"
              pTooltip="Timesheet Detail"
              tooltipPosition="left"
            >
              <i class="pi pi-file" style="font-size: 1rem"></i>
            </button>
          </div>
        </td>
        <!-- Column Action Button -> Route On Progress -->
        <td
          *ngIf="
            route === 'on-progress' &&
            (role === 'manager' || role === 'benefit')
          "
        >
          <!-- Button Action -> Approve or Reject -> Manager or Benefit -->
          <div
            *ngIf="role === 'manager' || role === 'benefit'"
            class="flex flex-row justify-center"
          >
            <button
              class="cek flex h-7 w-7 items-center justify-center rounded-md bg-card bg-green-600 text-muted-foreground text-white hover:bg-muted hover:text-foreground"
              pTooltip="Approve Timesheet"
              tooltipPosition="left"
            >
              <i class="pi pi-check" color="white" style="font-size: 1rem"></i>
            </button>
            <button
              class="ml-3 flex h-7 w-7 items-center justify-center rounded-md bg-card bg-red-600 text-muted-foreground text-white hover:bg-muted hover:text-foreground"
              pTooltip="Reject Timesheet"
              tooltipPosition="left"
            >
              <i class="pi pi-times" style="font-size: 1rem"></i>
            </button>
          </div>
        </td>
        <!-- Column Action Print -> Authority Benefit Team, Admin and Route History -->
        <td
          *ngIf="
            (route === 'history' && role === 'benefit') ||
            (route === 'history' && role === 'admin')
          "
        >
          <div class="flex justify-center">
            <button
              (click)="showDialogPrint(timesheet)"
              class="flex h-7 w-7 items-center justify-center rounded-md bg-card text-muted-foreground hover:bg-muted hover:text-foreground"
              pTooltip="Print Timesheet"
              tooltipPosition="left"
            >
              <i class="pi pi-file-export" style="font-size: 1rem"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Table Empty Message -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="7">No data found.</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Detail Item Modal -->
  <div class="card justify-content-center flex">
    <p-dialog
      header="Detail Timesheet"
      [(visible)]="visibleDetail"
      [modal]="true"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [style]="{ width: '70vw', height: 'auto' }"
      [draggable]="false"
      [resizable]="false"
      [maximizable]="true"
    >
      <!-- Modal Header -->
      <ng-template pTemplate="header">
        <div class="align-items-center justify-content-center flex-col gap-2">
          <h3 class="text-md font-semibold text-foreground">
            Timesheet Details
          </h3>
          <span class="text-sm font-semibold text-muted-foreground"
            >Timesheet #{{ selectedTimesheet.id }}</span
          >
        </div>
      </ng-template>

      <!-- Detail Table -->
      <app-timesheet-detail-table
        [selectedTimesheet]="selectedTimesheet"
      ></app-timesheet-detail-table>
    </p-dialog>
  </div>

  <!-- Print Timesheet Modal -->
  <app-timesheet-modal-print
    [visiblePrint]="visiblePrint"
    [paramTimesheetId]="paramTimesheetId || ''"
  ></app-timesheet-modal-print>
</div>
