// Style for Custom Dialog from Prime Ng (Dialog Print)
::ng-deep .dialog-print {

    .p-dialog {
        max-height: 100vh;
    }

    // hide dialog header
    .p-dialog-header {
        // display: none;

        // hide icon max
        .p-dialog-header-maximize {
            display: none;
        }
    }

    // hide dialog content
    .p-dialog-content {
        padding: 2rem;
    }
}

// Style custom button
.btn-action {
    ::ng-deep .p-button {
        padding: 0.3rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 0.8rem;
        color: white;
        font-weight: normal;
    }

    ::ng-deep .p-button-icon {
        margin-right: 0.4rem;
        font-size: 0.8rem;
    }
}