<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workOption of workOptions$ | async">
      <td>{{ workOption.id }}</td>
      <td>{{ workOption.description }}</td>
    </tr>
  </tbody>
</table>

<mat-form-field>
  <mat-label>Description</mat-label>
  <mat-select formControlName="workID">
    <mat-option
      *ngFor="let workOption of workOptions$ | async"
      [value]="workOption.id"
    >
      {{ workOption.description }}
    </mat-option>
  </mat-select>
</mat-form-field>
