<div class="card">
    <p-table
    #dt1
    [first]="first"
    [value]="users"
    [paginator]="true"
    [loading]="loading"
    [lazy]="true"
    (onLazyLoad)="loadUsers($any($event))"
    [totalRecords]="totalRecords"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="rowsOption[0]"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="rowsOption"
    [globalFilterFields]="['name', 'email','role']"
    >
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt1)" />
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="searchValue" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-i="rowIndex">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.status }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>