<div class="card">
  <p-toast/>
  <form
    [formGroup]="overtimeForm"
    class="flex items-center justify-between gap-3 pb-2 border-b-2 border-primary"
  >
    <p-floatLabel>
      <p-calendar
        [minDate]="minDate"
        [maxDate]="maxDate"
        [readonlyInput]="true"
        [iconDisplay]="'input'"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        inputId="overtime_date"
        formControlName="selectedDate"
        appendTo="body"
      />
      <label for="overtime_date" class="text-foreground">Overtime Date</label>
    </p-floatLabel>

    <p-floatLabel>
      <p-calendar
        [timeOnly]="true"
        [hourFormat]="'24'"
        [iconDisplay]="'input'"
        [showIcon]="true"
        inputId="startTimePicker"
        formControlName="startTime"
        appendTo="body"
      >
        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
          <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
        </ng-template>
      </p-calendar>
      <label for="startTimePicker" class="text-foreground">Start Time</label>
    </p-floatLabel>

    <p-floatLabel>
      <p-calendar
        [timeOnly]="true"
        [hourFormat]="'24'"
        [iconDisplay]="'input'"
        [showIcon]="true"
        inputId="endTimePicker"
        formControlName="endTime"
        appendTo="body"
      >
        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
          <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
        </ng-template>
      </p-calendar>
      <label for="endTimePicker" class="text-foreground">End Time</label>
    </p-floatLabel>

    <p-floatLabel>
      <p-dropdown
        [options]="(workOptions$ | async) ?? []"
        formControlName="workID"
        placeholder="Select Description"
        inputId="description"
        optionLabel="description"
        [filter]="true"
        filterBy="description"
      >
      </p-dropdown>
      <label for="description" class="text-foreground">Select Description</label>
    </p-floatLabel>

    <button
      pButton
      (click)="saveOvertime()"
      icon="pi pi-plus"
      size="small"
      label="Add"
      iconPos="right"
      [disabled]="overtimeForm.invalid"
      class="bg-primary p-2 border-0 min-w-24">
    </button>
  </form>
  <app-validation-message
    *ngIf="isFormValid('selectedDate')"
    [control]="overtimeForm.get('selectedDate')"
    label="Date"
  />
  <app-validation-message
    *ngIf="isFormValid('workID')"
    [control]="overtimeForm.get('workID')"
    label="Description"
  />
  <app-validation-message
    *ngIf="isFormValid('startTime')"
    [control]="overtimeForm.get('startTime')"
    label="Start Time"
  />
  <app-validation-message
    *ngIf="isFormValid('endTime')"
    [control]="overtimeForm.get('endTime')"
    label="End Time"
  />

  <div *ngIf="overtimeForm.hasError('checkTimeValidator')">
    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
      <li>Set Time Failed</li>
    </p>
  </div>
</div>
