<p-toast />
<p-confirmPopup />
<div class="card">
  <p-table
    #dt1
    [first]="first"
    [value]="works"
    [paginator]="true"
    [loading]="isLoading"
    [lazy]="true"
    (onLazyLoad)="loadWorks($any($event))"
    [totalRecords]="totalRecords"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="rowsOption[0]"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="rowsOption"
    [globalFilterFields]="['description', 'fee']"
  >
    <ng-template pTemplate="caption">
      <div class="align-center flex w-full justify-end">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Search by name"
            class="w-full"
            style="height: 2.5rem; max-width: 13rem"
            [(ngModel)]="searchValue"
            (keyup.enter)="applyFilterGlobal($event, 'contains')"
          />
        </span>
        <button
          class="hover:bg-primary-600 text-sm ml-2 flex-none rounded-md bg-primary px-4 py-2.5 font-semibold text-primary-foreground"
          (click)="applyFilterGlobal($event, 'contains')"
        >
          <span class="px-2">Search </span>
        </button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="text-xs font-semibold text-foreground">No</th>
        <th class="text-xs font-semibold text-foreground">Name</th>
        <th class="text-xs font-semibold text-foreground">Fee</th>
        <th class="text-center text-xs font-semibold text-foreground">
          Action
        </th>
      </tr>
    </ng-template>

    <!-- Table Loader -->
    <ng-template pTemplate="loadingbody">
      <tr>
        <td colspan="12">
          <p-skeleton width="100%" height="40vh"></p-skeleton>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-work let-i="rowIndex">
      <tr *ngIf="this.isLoading === false">
        <td class="text-sm font-semibold text-foreground">{{ i + 1 }}</td>
        <td class="text-sm font-semibold text-foreground">{{ work.description }}</td>
        <td class="text-sm font-semibold text-foreground">{{ work.fee | rupiahFormat }}</td>
        <td class="text-sm font-semibold text-foreground">
          <div class="flex justify-center gap-x-3">
            <p-button
              routerLink="/works/{{ work.id }}"
              class="btn-action"
              severity="secondary"
              label="Edit"
              icon="pi pi-pencil"
            />
            <p-button
              (onClick)="confirmDelete($event, work.id)"
              class="btn-action"
              severity="danger"
              label="Delete"
              icon="pi pi-trash"
            />
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="7">No data found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
