<div class="px-10 py-10">
  <div>
    <button
      class="absolute left-4 top-5 flex h-10 w-10 items-center justify-center rounded text-muted-foreground/50 transition-all duration-200 focus:outline-none hover:text-muted-foreground"
    >
      <svg-icon src="assets/icons/heroicons/solid/chevron-double-left.svg">
      </svg-icon>
    </button>
  </div>
  <div class="px-4 py-14">
    <h1 class="text-3xl font-bold text-foreground">Your Profile</h1>
  </div>
  <div class="flex px-4">
    <img class="h-52 rounded-2xl" src="assets/images/img-02.jpg" />
    <div class="pl-10">
      <div *ngIf="!editMode">
        <form action="" class="text-foreground mb-1">Name</form>
        <h3 class="mb-4 max-w-96 text-foreground">{{name}}</h3>
        <form action="" class="text-foreground mb-1">Username</form>
        <h3 class="mb-4 max-w-96 text-foreground">{{username}}</h3>
        <form action="" class="text-foreground mb-1">Email</form>
        <h3 class="mb-4 max-w-96 text-foreground">{{email}}</h3>
        <div class="flex items-center justify-center rounded-lg bg-primary" (click)="toggleEditMode()">
          <button class="h-10 w-40 text-base font-bold text-background">
            Edit Profile
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <form action="" class="text-foreground">Name</form>
        <input [(ngModel)]="name" class="mb-4 text-foreground bg-background rounded-xl ring-primary border-primary" />
        <form action="" class="text-foreground">Username</form>
        <input [(ngModel)]="username" class="mb-4 text-foreground bg-background rounded-xl ring-primary border-primary"/>
        <form action="" class="text-foreground">Email</form>
        <input [(ngModel)]="email" class="mb-4 text-foreground bg-background rounded-xl ring-primary border-primary"/>
        <div class="flex items-center justify-center rounded-lg bg-primary mt-2" (click)="toggleEditMode()">
            <button class="h-10 w-40 text-base font-bold text-background" (click)="saveName(name, username, email)">
              Save
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
