<div class="px-10 py-10">
  <div>
    <button
      class="absolute left-4 top-5 flex h-10 w-10 items-center justify-center rounded text-muted-foreground/50 transition-all duration-200 focus:outline-none hover:text-muted-foreground"
      (click)="goBack()"
    >
      <svg-icon src="assets/icons/heroicons/solid/chevron-double-left.svg">
      </svg-icon>
    </button>
  </div>
  <div class="px-20 py-14">
    <h1 class="text-3xl font-bold text-foreground">Your Profile</h1>
  </div>
  <div class="flex px-20">
    <div class="">
      <div *ngIf="!showForm && !profile">
        <div class="card justify-content-center flex">
          <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
        </div>
      </div>
      <div *ngIf="!editMode && profile">
        <form action="" class="mb-1 font-bold text-foreground">Email</form>
        <h2 class="mb-4 max-w-96 text-foreground">{{ profile.email }}</h2>
        <form action="" class="mb-1 font-bold text-foreground">Name</form>
        <h2 class="mb-4 max-w-96 text-foreground">{{ profile.name }}</h2>
        <form action="" class="mb-1 font-bold text-foreground">Phone</form>
        <h2 class="mb-4 max-w-96 text-foreground">
          {{ profile.phone || "No phone number" }}
        </h2>
        <h3 class="mb-1 font-bold text-foreground">Your Current Signature</h3>
        <div *ngIf="profile.signatureUrl">
          <img
            class="mb-10 h-20 w-52 rounded-xl"
            src="{{ profile.signatureUrl }}"
          />
        </div>
        <div *ngIf="!profile.signatureUrl">
          <h3 class="mb-4 max-w-96 text-foreground">
            No signature, please upload
          </h3>
        </div>
        <p-button
          label="Edit Profile"
          class="rounded-xl text-foreground"
          severity="contrast"
          (click)="toggleEditMode()"
        />
      </div>
      <p-toast></p-toast>
      <div *ngIf="editMode && profile">
        <div class="flex flex-col">
          <label for="email" class="font-bold text-foreground">Email</label>
          <input
            pInputText
            [(ngModel)]="profile.email"
            class="mb-4 rounded-xl border-primary bg-background text-foreground ring-primary"
          />
        </div>
        <div class="flex flex-col">
          <label for="name" class="font-bold text-foreground">Name</label>
          <input
            pInputText
            [(ngModel)]="profile.name"
            class="mb-4 rounded-xl border-primary bg-background text-foreground ring-primary"
          />
        </div>
        <div class="flex flex-col">
          <label for="phone" class="font-bold text-foreground">Phone</label>
          <input
            pInputText
            [(ngModel)]="profile.phone"
            class="mb-4 rounded-xl border-primary bg-background text-foreground ring-primary"
          />
        </div>
        <h3 class="mb-1 font-bold text-foreground">Upload New Signature</h3>
        <div *ngIf="profile.signatureUrl">
          <img
            class="mb-4 h-20 w-52 rounded-xl"
            [src]="profile.signatureUrl"
            alt="signature"
          />
        </div>
        <div *ngIf="!profile.signatureUrl">
          <h3 class="mb-4 max-w-96 text-foreground">
            No signature, please upload
          </h3>
        </div>
        <div class="mb-4">
          <p-fileUpload
            mode="basic"
            name="file"
            chooseIcon="pi pi-upload"
            accept="image/*"
            maxFileSize="1000000"
            (onSelect)="onFileSelected($event)"
            [auto]="true"
            chooseLabel="Choose image"
          />
        </div>
        <div *ngIf="loadingUpload" class="loading-spinner mb-5">
          <p-progressSpinner
            styleClass="w-10 h-10"
            strokeWidth="5"
          ></p-progressSpinner>
        </div>
        <div *ngIf="!changePasswordForm" class="mb-10 mt-2 flex">
          <p-button
            label="Change Password"
            class="rounded-xl text-foreground"
            severity="help"
            (click)="toggleChangePassword()"
          />
        </div>
        <div *ngIf="changePasswordForm">
          <div class="flex flex-col">
            <label for="phone" class="font-bold text-foreground mb-2"
              >Type New Password</label
            >
            <input
              pInputText
              [(ngModel)]="newPassword"
              class="mb-2 rounded-xl border-primary bg-background text-foreground ring-primary"
            />
            <small id="password-help" class="max-w-48">
              *password must contain at least one uppercase letter, one number and one special character
            </small>
          </div>
          <div class="mb-10 mt-2 flex">
            <p-button
              label="Change Password"
              class="rounded-xl text-foreground"
              severity="help"
              (click)="fetchChangePassword()"
            />
          </div>
        </div>
        <div class="mt-2 flex">
          <p-button
            label="Save"
            class="rounded-xl text-foreground"
            [loading]="loading"
            severity="contrast"
            (click)="saveProfile()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
